# Archivos de sistema
.DS_Store

# Cachés de Python
src/__pycache__/
src/__init__.py
*.pyc

# Configuración del editor
.vscode/

test_fotos/.DS_Store
train_fotos/.DS_Store

# Archivos del sistema operativo o duplicados
Thumbs.db